<h1>All Smart Devices</h1>
<p>Here are all of your smathouse devices. My favorite is Hal 9000.</p>

<ul class="list-group">
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc0}}">{{dvc0}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc1}}">{{dvc1}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc2}}">{{dvc2}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc3}}">{{dvc3}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc4}}">{{dvc4}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc5}}">{{dvc5}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc6}}">{{dvc6}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc7}}">{{dvc7}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc8}}">{{dvc8}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc9}}">{{dvc9}}</a></li>
    <li class="list-group-item">Name: <a href="/device/goto/{{dvc10}}">{{dv10}}</a></li>
</ul>
